$textHeight: 570px;
.MainLotInfo {
  width: 100%;
  height: 100%;
  display: table;
  .tableRow {
    display: table-row;
    .textWrapper {
      width: 100%;
      display: table-cell;
      color: #FFF;
      text-align: center;
      vertical-align: middle;
      font-family: PTSansRegular, 'PT Sans', Verdana;
      .header {
        position: absolute;
        top: 0;
        height: 50px;
        font-size: 30px;
        text-transform: uppercase;
        line-height: 50px;
        left: 0px;
        right: 0px;
        background: #FFF;
        color: #000;
        text-align: center;
        font-family: PTSansCaptionRegular;
      }
      .nowCost {
        margin-top: 65px;
        font-size: 50px;
        font-family: PTSansBold, 'PT Sans', Verdana;
      }
      .name {
        margin: 8px 0;
        font-size: 30px;
        text-transform: uppercase;
      }
      .time {
        margin-top: 35px;
        font-size: 35px;
        line-height: 45px;
        text-transform: uppercase;
        color: #A0CEF2;
      }
    }
  }
  .bottomRow {
    display: table-row;
    height: 160px;
    color: #FFF;
    .line{
      display: table-cell;
      border-top: 2px solid #EEE;
      vertical-align: middle;
      position: relative;
      padding: 50px;
      font-family: PTSansRegular, 'PT Sans', Verdana;
      .label {
        width: 50%;
        display: inline-block;
        text-transform: uppercase;
        font-size: 30px;
      }
      .cost {
        display: inline-block;
        font-family: PTSansBold, 'PT Sans', Verdana;
        text-align: right;
        width: 50%;
        text-transform: uppercase;
        font-size: 30px;
        vertical-align: top;
      }
      .time {
        position: absolute;
        margin-top: 7px;
        right: 50px;
        text-transform: uppercase;
        color: #A0CEF2;
      }
    }
  }
}
