.Lot {
  min-width: 800px;
  max-width: 1240px;
  margin: 0 auto;
  font-family: PTSansRegular, 'PT Sans', Verdana;
  h4 {
    text-transform: uppercase;
    font-family: PTSansBold, 'PT Sans', Verdana;
    margin: 5px 55px;
  }
  ul.items {
    margin: 0 50px;
    list-style: none;
    padding: 0;
    text-align: left;
    li.item {
      .nav-item {
        text-decoration: none;
        color: inherit;
      }
      display: inline-block;
      width: 33%;
      vertical-align: top;
      .itemWrap {
        position: relative;
        max-width: 300px;
        margin-bottom: 40px;
        .imageWrap {
          margin: 0 5px;
          height: 400px;
          background: #000;
          overflow: hidden;
          text-align: center;
          background-size: cover;
          background-position: center;
        }
      }
      .id {
        margin-top: 5px;
        color: #a3b8c3;
        font-size: 18px;
      }
      .title {
        margin-top: 5px;
        font-size: 36px;
        font-family: PTSansBold;
        color: #5195CA;
        text-transform: uppercase;
      }
      .from {
        margin-top: 5px;
        font-size: 13px;
      }
      .startCost {
        margin-top: 5px;
        color: #a3b8c3;
        font-size: 18px;
        text-decoration: line-through;
      }
      .nowCost {
        font-family: PTSansBold;
        font-size: 36px;
      }
      .accept {
        margin-top: -20px;
        margin-bottom: 50px;
        .nav-item {
          white-space: nowrap;
          font-family: PTSansCaptionRegular;
          border: 2px solid #5195CA;
          font-size: 14px;
          padding: 7px 20px;
          color: #5195CA;
          text-transform: uppercase;
        }
      }
    }
  }
  $rightColWidth: 400px;
  .lotDescription {
    margin-bottom: 50px;
    .bidMain {
      border: 3px solid #5195CA;
      padding: 20px 20px;
      margin: 20px;
      .bid {
        display: table;
        .bidWrap {
          display: table-row;
          padding: 20px;
          position: relative;
          .text {
            display: table-cell;
            vertical-align: middle;
            font-size: 15px;
            color: #888;
            width: 40%;
          }
          .inputWrap {
            display: table-cell;
            vertical-align: middle;
            width: 40%;
            padding-left: 50px;
            input {
              width: 100%;
              padding: 5px 10px;
              border: 3px solid #5195CA;
              text-align: right;
              font-family: 'PTSansBold';
              font-size: 20px;
            }
          }
          .rub {
            display: table-cell;
            text-align: left;
            width: 30px;
            vertical-align: middle;
            padding-left: 5px;
            font-family: 'PTSansBold';
            font-size: 20px;
          }
          .button {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 40%;
            a {
              text-transform: uppercase;
              border: 3px solid #5195CA;
              color: #5195CA;
              padding: 5px 10px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .description {
      position: relative;
      width: 100%;
      .leftCol {
        margin-right: $rightColWidth;
        .id {
          margin-top: 5px;
          color: #BBB;
          font-size: 13px;
        }
        .title {
          margin-top: 5px;
          font-size: 18px;
          font-family: PTSansBold;
          text-transform: uppercase;
        }
        .from {
          margin-top: 5px;
          font-size: 13px;
          color: #BBB;
        }
        .text {
          margin-top: 5px;
          font-size: 13px;
          color: #000;
        }
      }
      .rightCol {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: $rightColWidth - 30px;
        .name {
          margin-top: 5px;
          font-size: 13px;
          color: #000;
        }
        .startCost {
          margin-top: 5px;
          color: #BBB;
          font-size: 14px;
          text-decoration: line-through;
        }
        .endTimeWrap {
          position: absolute;
          right: 50px;
          top: 25px;
          text-align: center;
          .endTime {
            display: block;
            &:before {
              content: '';
              display: block;
              background-image: url('/assets/images/clock.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 35px;
              background-size: 17px;
              width: 20px;
              height: 20px;
              margin-left: 7px;
              margin-top: -6px;
              vertical-align: middle;
            }
          }
        }
        .nowCost {
          font-family: PTSansBold;
          font-size: 23px;
        }
      }
    }
  }
  .slider {
    // width: 1242px;
    width: 100%;
    height: 523px;
    overflow: hidden;
    position: relative;

    .slider-viewport {
      height: 100%;
    }
    .slider-item {
      height: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;
    }
      .slider-overlay {
        position: absolute;
        left: 0;
        top: 70%;
        bottom: 0;
        z-index: 1;
        width: 100%;
        // height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.78)));
        background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.78));
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.78));
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &:hover .slider-overlay {
        top: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.9)));
        background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
      }
      .slider-title {
        position: absolute;
        left: 120px;
        right: 120px;
        bottom: 95px;
        color: #fff;
        text-align: left;
        font-size: 16px;
        z-index: 2;
      }
      .slider-arrow {
        position: absolute;
        width: 190px;
        height: 100%;
        top: 0;
        cursor: pointer;
        z-index: 5;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-position: 50%;
        background-repeat: no-repeat;
      }
      .slider-arrow--prev {
        background-image: url('/assets/images/arrow-prev.png');
        left: 0;
        &:hover {
          background-image: url('/assets/images/arrow-prev-bright.png');
        }
      }
      .slider-arrow--next {
        background-image: url('/assets/images/arrow-next.png');
        right: 0;
        &:hover {
          background-image: url('/assets/images/arrow-next-bright.png');
        }
      }
      .slider-dots {
        position: absolute;
        bottom: 35px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
      }
      .slider-dot {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: #fff;
        background: rgba(255,255,255,0.15);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-radius: 100px;
        cursor: pointer;
        margin: 0 7px;
        &:hover, &.is-active {
          background: #fff;
          background: rgba(255,255,255,1);
        }
        &.is-active {
          cursor: default;
          pointer-events: none;
        }
      }

  }
}
