@import '../settings.scss';

body, html {
  width: 100%;
  height: 100%;
}
.constraint {
  min-width: $screen-little;
  max-width: $screen-large;
  margin: 0 auto;
}
.app-wrapper {
  background: #EEE;
  display: block !important;
  .app-content {
    background: #FFF;
  }
}
