.Main {
  min-width: 800px;
  max-width: 1240px;
  margin: 0 auto;
  font-family: PTSansRegular, 'PT Sans', Verdana;
  ul.items {
    margin: 0 50px;
    list-style: none;
    padding: 0;
    text-align: left;
  }
}
