.Top {
  background-color: #FFF;
  min-height: 166px;
  display: table;
  width: 100%;
  .rowWrap {
    display: table-row;
    height: 100%;
    .loginWrap {
      vertical-align: top;
      width: 30%;
      display: table-cell;
      height: 100%;
      padding-top: 20px;
      .nav-item {
        margin-left: 100px;
        font: PTSansBold;
        letter-spacing: 1 px;
        display: block;
        font-size: 14px;
        padding: 1px;
        text-decoration: none;
        color: #AAA;
        &.active {
          color: #000;
        }
      }
    }
    .headerWrap {
      vertical-align: top;
      width: 40%;
      display: table-cell;
      height: 100%;
      text-align: center;
      .title1 {
        margin-top: 20px;
        font-family: PTSansCaptionRegular, 'PT Sans Caption', Verdana;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
      }
      .title2 {
        display: inline-block;
        font-size: 48px;
        position: relative;
        margin-bottom: 7px;
        .info {
          position: absolute;
          bottom: 8px;
          right: -40px;
          line-height: 42px;
          cursor: pointer;
          img {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .title3 {
        font-family: 'PTSansNarrowRegular', Verdana;
        font-size: 21px;
        font-weight: normal;
        color: #a3b8c3;
      }
    }
    .languageWrap {
      vertical-align: top;
      text-align: center;
      width: 30%;
      display: table-cell;
      height: 100%;
      padding-top: 35px;
    }
  }
}
