.Footer {
  height: 600px;
  background: #F1F6F8;
  display: table;
  h5 {
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #AAA;
    margin: 0;
    font-weight: normal;
  }
  .rowWrapper {
    display: table-row;
    .text {
      display: table-cell;
      width: auto;
      color: #AAA;
      padding: 20px 55px;
      p {
        font-size: 12px;
        &.from {
          display: inline-block;
          margin-top: 25px;
        }
      }
    }
    .contacts {
      display: table-cell;
      width: 400px;
      .line {
      }
      .email {
        a {
          color: #348DC9;
        }
      }
      .social {
        display: inline-block;
        padding-top: 5px;
        margin-right: 10px;
      }
    }
  }
}
